@page "/"
@* attribute [StreamRendering(true)] *@
@inject IMovieReviewService MovieReviewService

<PageTitle>Index</PageTitle>

<h1>First Movies Library</h1>

@if (Movies is null)
{
    <h1>Loading movies...</h1>
}
else
{
    @for (int i = 0; i <= Movies.Count / 4; i++)
    {
        MovieModel[] movieGroup = Movies.Skip(i * 4).Take(4).ToArray();

        <div class="row">
            @foreach (MovieModel movie in movieGroup)
            {
               <MovieItem Movie = "@movie"/>
            }
        </div>
    }
}

@code {
    List<MovieModel>? Movies = null;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1500);
        Movies = MovieReviewService?.GetMovies();
    }
}